// import: only collection!
@import './collection';

// global settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: $appFontColor;
}

// basic settings
html,
body {
  width: 100%;
  background-color: $appBackgroundColor;
}

#root {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
