@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.button {
  width: 100%;
  height: 44px;
  background-color: #29b6f6;
  border: none;
  border-radius: 8px;
  font-size: 110%;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #039be5;
}

.lotto-select {
  width: 100%;
}

@media (min-width: 500px) {
  .lotto-select {
    width: 500px;
  }
}

.lotto-select__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 20px;
}

.lotto-select__header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
}

.lotto-select-header__left {
  padding: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lotto-select-header__right {
  padding: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lotto-select-header__title {
  font-size: 110%;
  font-weight: 500;
}

.lotto-select-header__icon {
  font-size: 90%;
  color: #bdbdbd;
  -webkit-transition: 0.5s color linear;
  transition: 0.5s color linear;
  cursor: pointer;
}

.lotto-select-header__icon--active {
  color: #212121;
}

.lotto-select__playground {
  width: 100%;
}

.lotto-select-playground {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 8px;
}

.lotto-select-playground__number-square {
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s background-color linear;
  transition: 0.5s background-color linear;
  cursor: pointer;
}

.lotto-select-playground__number-square--active {
  background-color: #ef5350;
}

.lotto-select-playground__text {
  font-size: 100%;
  font-weight: 500;
}

.lotto-select-playground::before {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  content: '';
  padding-bottom: 100%;
}

.lotto-select-playground > *:first-child {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.lotto-select__button {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #212121;
}

html,
body {
  width: 100%;
  background-color: #eeeeee;
}

#root {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=App.css.map */