.lotto-select {
  width: 100%;

  @media (min-width: 500px) {
    width: 500px;
  }

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    row-gap: 20px;
  }

  &__header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
  }

  &-header {
    &__left {
      padding: 0 0 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__right {
      padding: 0 10px 0 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    &__title {
      font-size: 110%;
      font-weight: 500;
    }

    &__icon {
      font-size: 90%;
      color: $lottoSelectHeaderIconFontColor;
      transition: 0.5s color linear;
      cursor: pointer;

      &--active {
        color: $lottoSelectHeaderIconFontColorActive;
      }
    }
  }

  &__playground {
    width: 100%;
  }

  &-playground {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px;

    &__number-square {
      width: 100%;
      background-color: $lottoSelectPlaygroundNumberSquareBackgroundColor;
      border: none;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: 0.5s background-color linear;
      cursor: pointer;

      &--active {
        background-color: #ef5350;
      }
    }

    &__text {
      font-size: 100%;
      font-weight: 500;
    }

    &::before {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      content: '';

      padding-bottom: 100%;
    }

    & > *:first-child {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }

  &__button {
    width: 100%;
  }
}
