.button {
  width: 100%;
  height: 44px;
  background-color: $buttonBackgroundColor;
  border: none;
  border-radius: 8px;
  font-size: 110%;
  font-weight: 500;
  color: $buttonFontColor;
  cursor: pointer;

  &:hover {
    background-color: $buttonBackgroundColorHover;
  }
}
