// variable: color
$appBackgroundColor: #eeeeee;
$appFontColor: #212121;
$buttonBackgroundColor: #29b6f6;
$buttonBackgroundColorHover: #039be5;
$buttonFontColor: #ffffff;
$lottoSelectHeaderIconFontColor: #bdbdbd;
$lottoSelectHeaderIconFontColorActive: #212121;
$lottoSelectPlaygroundNumberSquareBackgroundColor: #ffffff;
